<!--
  Generated template for the EjercicioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EJERCICIO</ion-title>
      <ion-buttons end>
  		<button ion-button (click)="hide()">CERRAR</button>
 	 </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <label>DESCRIPCION</label>
  <p>{{ejercicio.descripcion}}</p>
  <label>EXPLICACION</label>
  <p>{{ejercicio.explicacion}}</p>
  <div *ngIf="ejercicio.tiempo>0">
    <p>CALORIAS QUEMADAS:</p>
    <p>{{catidadCaloriasQuemadas}}</p>
    <p>UNIDADES: {{unidades}}</p>
  </div>
  <div *ngIf="ejercicio.tiempo>0">
    <div *ngIf="this.buton==true">      
      <button ion-button full outline (click)="revisarTiempo(this.ejercicio)">INICIAR TIEMPO</button>
    </div>    
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>
